@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inter-normal, input::placeholder {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
}

input::placeholder {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  max-width: 800px;
  max-height: 500px;
  margin: auto;
  font-size: 1.2em;
  position: relative;
}

#overlay{
  display: flex;
  position: fixed;
  background-color: rgba(82, 82, 82, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

section {
  margin-bottom: 20px;
  width: 100%;
}

.timeconfig{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.timeconfig p{
  padding-left: 0.5em;

}
#stats{
  display: flex;
}
.timeconfig #time{
  margin: 0;
}

#words-container {
  line-height: 1.4em;
  background-color: #222222;
  border-radius: 4px;
  padding: 10px;
  height: 5.8em;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #words-container {
    height: 4.5em;
  }
}

#words-container span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 7px;
}

.words {
  color: #f8f8f86b;

}

#input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#input {
  flex: 1;
  background-color: #222222;
  border-radius: 4px;
  padding: 5px;
  font-size: 1.1em;
  color: #f8f8f8;
  border: 3px solid #525252;
  transition: border-color 0.5s;
  outline: none;
}

#input:focus {
  border-color: #4c6dff;
}

.valid {
  color: #77DD76;
}
.fail {
  color: #FF6962;
}
.current{
  color: 	#0476D0;
}

